<app-navbar></app-navbar>

<div class="container text-center p-5 col-sm-4 ">
    <h1 class="text-info fw-bold p-3">Contact Us</h1>
    <form #contact="ngForm" (ngSubmit)="onSubmit(contact)">
        <input class="form-control" type="email" placeholder="Your Email" required maxlength="30" name="email" ngModel
            #email="ngModel">
        <p></p>
        <textarea class="form-control" type="text" placeholder="Your Massage" required maxlength="100" name="message"
            ngModel #message="ngModel"></textarea>
        <p></p>
        <button class="btn btn-primary">Send</button>
    </form>
</div>

<app-footer></app-footer>