<ng-template #content let-offcanvas >
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Filters</h4>
    <button type="button" class="btn-close btn-outline-danger" aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="m-3">
      <button (click)="onClickNoFilters()" class="btn btn-outline-secondary">No Filters</button>
    </div>
    <div ngbDropdown class="m-3">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Category</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="overflow-hidden">
        <button (click)="onCategoryClick(category)" *ngFor="let category of categories" class="btn btn-outline-info" ngbDropdownItem>{{categoryType(category)}}</button>
      </div>
    </div>
    <div ngbDropdown class="m-3">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Brands</button>
      <div role="menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="onBrandClick(brand)" class="btn btn-outline-info" *ngFor="let brand of brands" role="menuitem"
          ngbDropdownItem>{{brand}}</button>
      </div>
    </div>
    <!-- <div class="text-end">
      <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
    </div> -->
  </div>
</ng-template>

<button id="sidebar"  class="btn btn-lg btn-info fw-bold ps-2 rounded-pill" (click)="open(content)">Filters &#9776;</button>