<app-navbar></app-navbar>

<ng-template #template>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
    <div class="modal-body text-info text-center">
        <h4 *ngIf="!check">your order completed successfully, thank you 😊</h4>
        <h4 *ngIf="check">check your inputs</h4>
    </div>
</ng-template>

<div class="container p-5">

    <form #details="ngForm" (ngSubmit)="onSubmit(details)">
        <div class="row bg-light d-flex justify-content-center ">
            <div class="col-sm-3 text-center m-3 p-3">
                <h5 class="text-dark fw-bolder">Personal Details</h5>
                <p></p>
                <input class="form-control" name="firstName" type="text" required maxlength="30"
                    placeholder="First Name" ngModel #firstName="ngModel" [(ngModel)]="creditCard.firstName">
                <app-check-icon *ngIf="firstName.valid"></app-check-icon>
                <p></p>
                <input class="form-control" name="lastName" type="text" required maxlength="30" placeholder="Last Name"
                    ngModel #lastName="ngModel" [(ngModel)]="creditCard.lastName">
                <app-check-icon *ngIf="lastName.valid"></app-check-icon>
                <p></p>
                <input class="form-control" name="phoneNumber" type="tel" required pattern="[0-9]{10}"
                    placeholder="phone Number" ngModel #phoneNumber="ngModel" >
                <app-check-icon *ngIf="phoneNumber.valid"></app-check-icon>
            </div>

            <div class="col-sm-3 text-center m-3 p-3">
                <h5 class="text-dark fw-bolder">Address Details</h5>
                <p></p>

                <input class="form-control" type="text" name="country" maxlength="20" ngModel required
                    #country="ngModel" [(ngModel)]="address.country" placeholder="country">
                <app-check-icon *ngIf="country.valid"></app-check-icon>
                <p></p>
                <input class="form-control" type="text" maxlength="20" name="city" ngModel required #city="ngModel"
                    [(ngModel)]="address.city" placeholder="city">
                <app-check-icon *ngIf="city.valid"></app-check-icon>
                <p></p>
                <input class="form-control" type="text" maxlength="20" name="street" ngModel required #street="ngModel"
                    [(ngModel)]="address.street" placeholder="street">
                <app-check-icon *ngIf="street.valid"></app-check-icon>
                <p></p>
                <input class="form-control" type="number" pattern="[0-9]{1,2}" name="houseNumber" ngModel required
                    #houseNumber="ngModel" [(ngModel)]="address.houseNumber" placeholder="house number">
                <app-check-icon *ngIf="houseNumber.valid"></app-check-icon>
                <p></p>
                <input class="form-control" type="number" pattern="[0-9]{7}" name="postalCode" ngModel required
                    #postalCode="ngModel" [(ngModel)]="address.postalCode" placeholder="postal code">
                <app-check-icon *ngIf="postalCode.valid"></app-check-icon>
           

            </div>
            <div class="col-sm-3 text-center m-3 p-3">
                <h5 class="text-dark fw-bolder">Credit Card Details</h5>
                <p></p>
                <input class="form-control" name="cardNumber" type="number" ngModel pattern="[0-9]{16}"
                    placeholder="Card Number" required #cardNumber="ngModel" [(ngModel)]="creditCard.number">
                <app-check-icon *ngIf="cardNumber.valid"></app-check-icon>
                <p></p>
                <input class="form-control" name="cvv" type="number" ngModel pattern="^[0-9]{3}" required 
                    placeholder="CVV" #cvv="ngModel" [(ngModel)]="creditCard.cvv">
                <app-check-icon *ngIf="cvv.valid"></app-check-icon>
                &nbsp;
                <p><label for="expiredMonth" class="fw-bold text-primary">Expired Date</label></p>
                <input class="form-control-sm col-md-3 text-center" name="expiredMonth" type="text" required
                    placeholder="mm" pattern="(0[1-9]|1[0-2])" #expiredMonth="ngModel" ngModel maxlength="2"
                    [(ngModel)]="creditCard.expiredMonth">
                &nbsp; / &nbsp;
                <input class="form-control-sm col-md-3 text-center" name="expiredYear" type="text" required
                    placeholder="yy" pattern="([0-9]{4}|[0-9]{2})" #expiredYear="ngModel" ngModel maxlength="2"
                    [(ngModel)]="creditCard.expiredYear" (ngModelChange)="checkExpiredYear($event)">
                <app-check-icon *ngIf="expiredYear.valid && expiredMonth.valid && checkYear==true"></app-check-icon>
                <p></p>
                <input [hidden]="totalPrice<200" class="form-control" type="number" pattern="[1-9]{1}"
                    name="numberOfPayments" placeholder="number Of Payments" [(ngModel)]="creditCard.numberOfPayments"
                    ngModel #numberOfPayments="ngModel">
                <app-check-icon *ngIf="numberOfPayments.valid && creditCard.numberOfPayments>0"></app-check-icon>
            
            </div>
            <p></p>
            <button class="btn btn-primary m-3 col-sm-2" (click)="openModal(template)" type="submit">Puy</button>
        </div>
    </form>
</div>
<app-footer></app-footer>