<div class="container">
    <div class="row">
        <form ngSubmit="onSubmit()">
            <input name="firstName" type="text" required maxlength="20" placeholder="First Name">
            <input name="lastName" type="text"  required maxlength="20" placeholder="Last Name">
            <input name="cardNumber" type="number"  required maxlength="16" placeholder="Card Number">
            <input name="id" type="number" required maxlength="9" placeholder="Id">
            <input name="cvv" type="number"  required maxlength="3" placeholder="CVV">
            <input name="expiredDate" type="date"  required placeholder="Expired Date">
        </form>
        <button type="submit">Puy</button>
    </div>
</div>