<nav class="navbar navbar-expand-sm bg-black sticky-top" role="navigation">
    <div class="container">

        <a class="navbar-brand text-white" routerLink="/">
            <app-perfume-icon></app-perfume-icon>
            Perfuma
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/deliveryArrangements">Delivery Arrangements</a>
                </li>
                <li class="nav-item" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/logIn">Log In</a>
                </li>
                <li class="nav-item" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/signUp">Sign Up</a>
                </li>
                <li class="nav-item" [hidden]="isAuth">
                    <a class="nav-link text-info" routerLink="" (click)="LogOut()">Log Out</a>
                </li>
                <li class="nav-item" [hidden]="isAuth" [routerLink]="['/account', user.id]">
                    <a class="nav-link text-info">
                        <app-user-icon></app-user-icon>
                        Hello, {{user.firstName}} {{user.lastName}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/cart">🛒
                        <strong class="text-danger">{{productsCart.length}}</strong></a>
                    </li>
            </ul>
            <!-- <form #search="ngForm" (ngSubmit)="onSearch(search)" class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input name="input" class="form-control" type="search" placeholder="Search"
                        (onclick)="onInputClick()" aria-label="Search" [(ngModel)]="searchInput"
                        (ngModelChange)="onChange($event)" maxlength="20">
                    <button class="btn btn-outline-success my-2 my-sm-0">🔍</button>
                </div>
            </form> -->
        </div>
    </div>
</nav>

<div class="container">
    <h1>Your Cart:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productsCart; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <img src={{p.imageUrl}} class="me-2" style="width: 1rem">
                    {{ p.name }}
                </td>
                <td>{{ p.description}}</td>
                <td>{{categoryType(p.category)}}</td>
                <td>{{ p.price }} ₪</td>
                <td><button class="btn-secondary" (click)="deleteProduct(p)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <h2>Total Price: {{totalPrice}} ₪</h2>
  <button class="btn-primary" routerLink="/logIn">To Puy</button>
</div>

<footer class="text-white fixed-bottom" style="background-color: #f1f1f1;">
    <section class="text-center">
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Privacy Policy
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Terms of use
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Accessibility
        </a>
    </section>
    <section class="text-center">
        <app-perfume-icon></app-perfume-icon>
        <span class="text-black mr-4"> © {{currentYear}} Copyright: <strong>Perfuma</strong></span>
        <a class="text-center btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/"
            role="button" data-mdb-ripple-color="dark">
            <app-facebook-icon></app-facebook-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/i/flow/login" role="button"
            data-mdb-ripple-color="dark">
            <app-twitter-icon></app-twitter-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://accounts.google.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-google-icon></app-google-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-youtube-icon></app-youtube-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-linkedin-icon></app-linkedin-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-instgram-icon></app-instgram-icon>
        </a>
    </section>

</footer>