<app-navbar></app-navbar>

<div class="container">
    <h1>Your Cart:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productsCart; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <img src={{p.imageUrl}} class="me-2" style="width: 1rem">
                    {{ p.name }}
                </td>
                <td>{{ p.description}}</td>
                <td>{{categoryType(p.category)}}</td>
                <td>{{ p.price }} ₪</td>
                <td><button class="btn-secondary" (click)="deleteProduct(p)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <h2>Total Price: {{totalPrice}} ₪</h2>
  <button class="btn-primary" routerLink="/logIn">To Puy</button>
</div>

<app-footer></app-footer>