<div class="clear">

</div>
<footer class="text-white bg-info fixed-bottom">
    <section class="text-center">
        <app-perfume-icon></app-perfume-icon>
        <span class="text-black mr-4"> © {{currentYear}} Copyright: <strong>Perfuma</strong></span>
        <a class="btn btn-link btn-floating text-dark" routerLink="/privacyPolicy" role="button" data-mdb-ripple-color="dark">
            Privacy Policy
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" routerLink="/termsOfUse" role="button" data-mdb-ripple-color="dark">
            Terms of use
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" routerLink="/accessbility" role="button" data-mdb-ripple-color="dark">
            Accessibility
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" routerLink="/aboutUs" role="button" data-mdb-ripple-color="dark">
            About Us
        </a>
        
    </section>
    <section class="text-center">
         <a class="text-center btn btn-link btn-floating btn-lg text-dark " href="https://www.facebook.com/"
             role="button" data-mdb-ripple-color="dark">
             <app-facebook-icon></app-facebook-icon>
         </a>
         <a class="btn btn-link btn-floating btn-lg text-dark" href="https://twitter.com/i/flow/login" role="button"
             data-mdb-ripple-color="dark">
             <app-twitter-icon></app-twitter-icon>
         </a>
         <a class="btn btn-link btn-floating btn-lg text-dark" href="https://accounts.google.com/" role="button"
             data-mdb-ripple-color="dark">
             <app-google-icon></app-google-icon>
         </a>
         <a class="btn btn-link btn-floating btn-lg text-dark " href="https://www.youtube.com/" role="button"
             data-mdb-ripple-color="dark">
             <app-youtube-icon></app-youtube-icon>
         </a>
         <a class="btn btn-link btn-floating btn-lg text-dark" href="https://www.linkedin.com/" role="button"
             data-mdb-ripple-color="dark">
             <app-linkedin-icon></app-linkedin-icon>
         </a>
         <a class="btn btn-link btn-floating btn-lg text-dark" href="https://www.instagram.com/" role="button"
             data-mdb-ripple-color="dark">
             <app-instgram-icon></app-instgram-icon>
         </a>

     </section>

</footer>