<app-navbar></app-navbar>

<h1 [hidden]="show" class="text-danger fw-bolder text-center">You Dont Have Orders Yet</h1>
<div [hidden]="!show" class="container">
    <div *ngFor="let order of orders">
        <h3>Order: {{order.id}}</h3>
        <button (click)="onOrderDelete(order.id)" class="btn btn-outline-danger">Cancel Order</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of order.products; index as i">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>
                        <img src={{p.imageUrl}} class="me-2" style="width: 20px">
                        {{ p.name }}
                    </td>
                    <td>{{ p.description}}</td>
                    <td>{{categoryType(p.category)}}</td>
                    <td>{{ p.price }} ₪</td>
                </tr>
            </tbody>
        </table>
        <p>Total Price: <strong class="text-danger">{{order.paymentValue}} ₪</strong></p>
        <hr>
    </div>
</div>

<app-footer></app-footer>