<app-navbar></app-navbar>

<ng-template #templateOrder>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefOrder?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
    <div class="modal-body text-info text-center">
            <h5>{{orderMessage}}</h5>
            <button [hidden]="orderMsgHideButtons"  (click)="onOrderYesClick()" (click)="openModalOrder(templateOrder)" class="btn btn-danger">Yes</button>
            &nbsp;
            <button [hidden]="orderMsgHideButtons"  (click)="onOrderNoClick()" class="btn btn-success">No</button>
       
    </div>
</ng-template>

<ng-template #templateProduct>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefProduct?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
    <div class="modal-body text-info text-center">
            <h5>{{productDeleteMessage}}</h5>
            <button [hidden]="productMsgHideButtons" (click)="onProductYesClick()" (click)="openModalProduct(templateProduct)" class="btn btn-danger">Yes</button>
            &nbsp;
            <button [hidden]="productMsgHideButtons" (click)="onProductNoClick()" class="btn btn-success" >No</button>
    </div>
</ng-template>

<h1 [hidden]="show" class="text-danger fw-bolder text-center">You Dont Have Orders Yet</h1>
<div [hidden]="!show" class="container">
    <div class="row">
        <div class="col-sm-4">
            <form #details="ngForm" (ngsubmit)="onSubmit(details)" class="form-control bg-light text-center">

                <h4 class="text-primary">Profile Details</h4>
                <label for="image">profile image: </label>
                <img [src]="userPicture" alt="profile picture" class="img-thumbnail">
                <app-image-upload (onUploadFinished)="uploadFinished($event)"></app-image-upload>
                <p></p>
                <label for="firstName">first name</label>
                <input class="form-control" type="text" name="firstName" [(ngModel)]="customer.firstName">
                <label for="lastName">last name</label>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="customer.lastName">
                <label for="firstName">email</label>
                <input class="form-control" type="email" name="email" [(ngModel)]="customer.email">
                <label for="firstName">phone number</label>
                <input class="form-control" type="tel" name="phoneNumber" [(ngModel)]="customer.phoneNumber">

                <h4 class="text-primary">Address Details</h4>
                <label for="country">country</label>
                <input class="form-control" type="text" name="country" [(ngModel)]="address.country">
                <label for="city">city</label>
                <input class="form-control" type="text" name="city" [(ngModel)]="address.city">
                <label for="street">street</label>
                <input class="form-control" type="text" name="street" [(ngModel)]="address.street">
                <label for="houseNumber">house number</label>
                <input class="form-control" type="number" name="houseNumber" [(ngModel)]="address.houseNumber">
                <label for="postalCode">postal code</label>
                <input class="form-control" type="number" name="postalCode" [(ngModel)]="address.postalCode">

                <h4 class="text-primary">Credit Card Details</h4>
                <label for="cardNumber">Number</label>
                <input class="form-control" type="number" name="number" [(ngModel)]="creditCard.number">
                <label for="cvv">Cvv</label>
                <input class="form-control" type="number" name="cvv" [(ngModel)]="creditCard.cvv">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" [(ngModel)]="creditCard.firstName">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="creditCard.lastName">
                <label for="expiredMonth">Expired Month</label>
                <input class="form-control" type="text" name="expiredMonth"
                    [(ngModel)]="creditCard.expiredMonth">
                <label for="expiredYear">Expired Year</label>
                <input class="form-control" type="text" name="expiredYear"
                    [(ngModel)]="creditCard.expiredYear">
                <p></p>
                <button class="btn btn-primary">Submit Changes</button>
            </form>
        </div>
        <div class="col-sm-8">
            <div *ngFor="let order of orders">
                <h3>Order: {{order.id}}</h3>
                <button (click)="onOrderDelete(order.id)" (click)="openModalOrder(templateOrder)"
                    class="btn btn-outline-danger">Cancel Order</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of order.products; index as i">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>
                                <img src={{product.imageUrl}} class="img-thumbnail" alt="product image">
                                {{ product.name }}
                            </td>
                            <td>{{ product.description}}</td>
                            <td>{{categoryType(product.category)}}</td>
                            <td>{{ product.price }} ₪</td>
                            <td><button class="btn btn-danger" (click)="openModalProduct(templateProduct)" (click)="onProductDelete(order,product)"><app-trash-icon></app-trash-icon></button></td>
                        </tr>
                    </tbody>
                </table>
                <p>Total Price: <strong class="text-danger">{{order.paymentValue}} ₪</strong></p>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>