<input [(ngModel)]="searchInput" placeholder="Search"
[typeahead]="products"
autocomplete="off"
typeaheadOptionField="name"
class="form-control-lg col-10 border border-primary border-3 m-3"
 [typeaheadScrollable]="true"
maxlength="50" 
(typeaheadOnSelect)="onSelect($event)"
[typeaheadItemTemplate]="rct">

<ng-template #rct let-rc="item" class="col-10">
  <div >
    <img class="img-thumbnail m-3" src={{rc.imageUrl}} alt="perfume image"><span class="p-2">{{rc.name}}</span>  - <span class="p-2">{{rc.description}}</span>
  </div> 
</ng-template>