<h1 class="text-primary fw-bold fst-italic">Credit Cards</h1>

<input type="text" class="form-control" placeholder="search for card by number"
[ngModel]="search" (ngModelChange)="onCardSearch($event)">

<p></p>
<div class="table-responsive">
  <table class="table align-middle table-info table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Card Nmuber</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Cvv</th>
      <th scope="col">Expired Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let creditCard of filteredCards">
      <td>{{creditCard.id}}</td>
      <td>{{creditCard.number}}</td>
      <td>{{creditCard.firstName}}</td>
      <td>{{creditCard.lastName}}</td>
      <td>{{creditCard.cvv}}</td>
      <td>{{creditCard.expiredMonth}} / {{creditCard.expiredYear}}</td>
     
    </tr>
  </tbody>
</table>
</div>