<app-navbar></app-navbar>

<div class="container">
    <div class="text-center mt-2 p-3">
        <h1 class="p-3 text-info">Sign In:</h1>
        <form #details="ngForm" (ngSubmit)="onSubmit(details)">
            <input class="m-3 col-md-3" type="email" required
             placeholder="Email Address"
             name="email"
             ngModel
             #email="ngModel">
            <p></p>
            <input class="m-3 col-md-3" type="password" required
             placeholder="Password"
             name="password"
             ngModel
             #password="ngModel">
            <p></p>
            <button class="m-3" class="btn btn-danger text-center col-md-2">Sign In</button>
        </form>
       <p></p>
        <p class="m-3"><a routerLink="/signUp">
            don't have an account yet ? Sign Up
        </a></p>
    </div>
</div>
<footer class="text-white fixed-bottom" style="background-color: #f1f1f1;">
    <section class="text-center">
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Privacy Policy
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Terms of use
        </a>
        <span class="text-dark">|</span>
        <a class="btn btn-link btn-floating text-dark" href="#" role="button" data-mdb-ripple-color="dark">
            Accessibility
        </a>
    </section>
    <section class="text-center">
        <app-perfume-icon></app-perfume-icon>
        <span class="text-black mr-4"> © {{currentYear}} Copyright: <strong>Perfuma</strong></span>
        <a class="text-center btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/"
            role="button" data-mdb-ripple-color="dark">
            <app-facebook-icon></app-facebook-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/i/flow/login" role="button"
            data-mdb-ripple-color="dark">
            <app-twitter-icon></app-twitter-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://accounts.google.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-google-icon></app-google-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-youtube-icon></app-youtube-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-linkedin-icon></app-linkedin-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-instgram-icon></app-instgram-icon>
        </a>
    </section>

</footer>