<app-navbar></app-navbar>

<div class="container">
    <h1 class="text-dark fw-bolder text-center">Privacy Policy</h1>
    <div class="row bg-light">
        <div>
            <p><span class="fw-bolder">*</span> The company respects the privacy of website users. Therefore, Perfuma requests through the policy
                document to inform and disclose
                to the public that use the websites the privacy policy used in them, the manner in which the company
                collects and uses personal
                information provided to it by you through browsing the websites, the registration procedure for the
                website and your use of the
                various services on the websites.
            </p>

            <p><span class="fw-bolder">*</span>This policy is an integral part of the website terms of use. As stated in the terms of use, the use of
                the websites, including the
                content contained therein and the various services that operate on them, indicates your agreement to
                this privacy policy, and
                therefore you are requested to read these terms carefully, alongside the general terms of use, as this
                document is an integral and
                inseparable part of the general terms of use document.
            </p>

            <p>
                <span class="fw-bolder">*</span> This policy applies to all uses made by our users on the websites, including:
                When you use the website, whether using your computer, mobile device or any other device of yours, and
                whether you connect to the services through the website or from any other website and/or application.
                About phone calls, emails, other electronic messages including SMS, phone, internet chat, website/portal
                as well as any other form of communication between you and the company.
            </p>

            <p>
                <span class="fw-bolder">*</span> Please note: You are under no obligation by law to provide the company with any personal information.
                However, without providing the information, you will not be able to receive the services provided by the
                company and through the websites, which require a registration procedure. You hereby confirm and agree
                that you provide us with personal information of your own free will, for the purposes specified in this
                policy, and that we are entitled to hold this information in accordance with this policy and according
                to the provisions of any law. Providing the details about you when registering for the services
                constitutes a statement on your part as to their correctness.
            </p>

            <p>
                <span class="fw-bolder">*</span> Perfuma clarifies that the privacy policy document below can change from time to time and at its
                discretion since the privacy policy is dynamic and can change as new content and services are added to
                the sites that can also affect the policy. Therefore, Perfuma recommends going back and reviewing
                this privacy policy document. Insofar as substantial changes are made in relation to the use of personal
                information, a notice will be published on the relevant websites.

                This document was written on the basis of the relevant law at the time of its writing and Perfuma
                will do everything in its power to adapt the policy to legislative changes in the field. It is clarified
                that this privacy policy does not intend to allow Perfuma to perform actions that the law prohibits.
            </p>

        </div>
    </div>
</div>

<app-footer></app-footer>