<app-employees-navbar></app-employees-navbar>

<div class="container text-center">
    <div class="row">
            <app-orders [hidden]="showOrders"></app-orders>
            <app-employees [hidden]="showEmployees"></app-employees>
            <app-customers [hidden]="showCustomers"></app-customers>
            <app-credit-cards [hidden]="showCreditCards"></app-credit-cards>
            <app-bank-accounts [hidden]="showBankAccounts"></app-bank-accounts>
            <app-addresses [hidden]="showAddresses"></app-addresses>
            <app-users [hidden]="showUsers"></app-users>
    </div>
</div>

<app-footer></app-footer>