<app-navbar></app-navbar>

<div class="container">
    <h1 class="text-center text-info fw-bold">About Us</h1>

    <div class="row bg-light">
        <div class="fw-bold">
           Perfuma is one of the most popular websites for perfumes in the world,
           Perfuma sell the most popular and best perfumes in the world, perfumes from the best and big companies around the world.
           <p></p>
           Every one access to the website see the main page where we have all the products that the customer add to his cart and order,in the left we have the filter of the page for better and helpful shopping.
           the site has to types of users:

            <h4 class="text-info fw-bold"> Customers</h4>
           <p>* Create an account</p>
           <p>* If you have account sign in and make your own cart</p>
           <p>* After done with shopping and add products click the cart icon</p>
           <p>* Click to puy</p>
           <p>* Set your payment method</p>
           <p>* Well done you have an order</p>
          

           <h4 class="text-info fw-bold"> Employees</h4>
            
           <p>* Employees have an already user</p>
           <p>* Go to the log in and click employee log in</p> 
           <p>* Go to the employee log in and set your username and password</p>
           <p>* If you are new employee you well fill a required information about you</p>
           <p>* After access you will be in your personal zone</p> 
           <p>* There three types of users in employees:admin,manager,general</p>
           <p>* If you an admin you access to all type of information</p>
           <p>* If you a manager you access to some information</p>
           <p>* If you a general you access to minimal information from other types</p>
         
        </div>
    </div>
</div>