<app-navbar></app-navbar>

<div class="container">
    <h1 class="text-center text-primary fw-bold">Accessibility</h1>
   
    <div class="row bg-light">
        <div>
           In the last years Perfuma company work on accessibility of their website to service all thier customers,
           in our website we have: 
           <p><span class="fw-bolder">*</span> auditory</p>
           <p><span class="fw-bolder">*</span> cognitive</p>
           <p><span class="fw-bolder">*</span> neurological</p>
           <p><span class="fw-bolder">*</span> physical</p>
           <p><span class="fw-bolder">*</span> speech</p>
           <p><span class="fw-bolder">*</span> visual</p>
           we work hard to serve all our customers type equaly and hope to satisfied all our customers.
           <p>Thank you,</p>
           <p class="fw-bold fst-italic">Perfuma Company</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
