<h1 class="text-primary fw-bold fst-italic">Addresses</h1>

<input type="text" class="form-control" placeholder="search for address by country or city or street"
[ngModel]="search" (ngModelChange)="onAddressSearch($event)">

<p></p>

<table class="table table-info">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
      <th scope="col">Street</th>
      <th scope="col">Postal Code</th>
      <th scope="col">House Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of filterAddrsses">
      <td>{{address.id}}</td>
      <td>{{address.country}}</td>
      <td>{{address.city}}</td>
      <td>{{address.street}}</td>
      <td>{{address.postalCode}}</td>
      <td>{{address.houseNumber}}</td>
    </tr>
  </tbody>
</table>