<nav class="navbar navbar-expand-lg bg-black navbar-fixed-top">
    <a class="navbar-brand text-white ps-4" routerLink="/">
        <app-perfume-icon></app-perfume-icon>
        Perfuma
    </a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-4">
                    <a class="nav-link text-info" routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-info" routerLink="/deliveryArrangements">Delivery Arrangements</a>
                </li>
                <li class="nav-item px-4" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/logIn">Log In</a>
                </li>
                <li class="nav-item px-4" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/signUp">Sign Up</a>
                </li>
                <li class="nav-item px-4" [hidden]="isAuth">
                    <a class="nav-link text-info" (onClick)="LogOut()">Log Out</a>
                </li>
                <li class="nav-item px-4" [hidden]="isAuth" routerLink="/account">
                    <a class="nav-link text-info">
                        <app-user-icon></app-user-icon>
                    </a>
                    {{customer.firstName}} {{customer.lastName}}
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-info" routerLink="/cart">🛒<span
                            class="text-danger">{{productsCart.length}}</span></a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 p-1">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="btn btn-outline-primary my-2 my-sm-0 p-1" type="submit">Search</button>
    </div>
</nav>


<div class="container p-3 mb-2">
    <div class="row">
        <div *ngFor="let p of products" class="col-md-3 m-0 p-0">
            <div class="card">
                <img class="img-thumbnail" src={{p.imageUrl}} alt="Card image perfume">
                <div class="card-body">
                    <h5 class="card-title"><strong><a [routerLink]="['/product', p.barcode]">{{p.name}}</a></strong>
                    </h5>
                    <h6>{{p.description}} <small> {{categoryType(p.category)}}</small></h6>
                    <p class="card-text">
                        <strong> {{p.price}}</strong> ₪

                    </p>
                    <button (click)="AddProduct(p)" class="btn btn-primary">Add To Cart</button>
                </div>

            </div>
        </div>
    </div>
</div>


<footer class="text-white" style="background-color: #f1f1f1;">
    <section class="text-center">
        <app-perfume-icon></app-perfume-icon>
        <span class="text-black mr-4"> © {{currentYear}} Copyright: <strong>Perfuma</strong></span>
        <a class="text-center btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/"
            role="button" data-mdb-ripple-color="dark">
            <app-facebook-icon></app-facebook-icon>
           </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/i/flow/login" role="button"
            data-mdb-ripple-color="dark">
            <app-twitter-icon></app-twitter-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://accounts.google.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-google-icon></app-google-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-youtube-icon></app-youtube-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-linkedin-icon></app-linkedin-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-instgram-icon></app-instgram-icon>
        </a>

    </section>

</footer>