<nav class="navbar navbar-expand-sm bg-black sticky-top" role="navigation">
    <div class="container">

        <a class="navbar-brand text-white" routerLink="/">
            <app-perfume-icon></app-perfume-icon>
            Perfuma
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/deliveryArrangements">Delivery Arrangements</a>
                </li>
                <li class="nav-item" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/logIn">Log In</a>
                </li>
                <li class="nav-item" [hidden]="!isAuth">
                    <a class="nav-link text-info" routerLink="/signUp">Sign Up</a>
                </li>
                <li class="nav-item" [hidden]="isAuth">
                    <a class="nav-link text-info" routerLink="" (click)="LogOut()">Log Out</a>
                </li>
                <li class="nav-item" [hidden]="isAuth" routerLink="/account">
                    <a class="nav-link text-info">
                        <app-user-icon></app-user-icon>
                        Hello, {{user.firstName}} {{user.lastName}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="/cart">🛒
                        <strong class="text-danger">{{productsCart.length}}</strong></a>
                    </li>
            </ul>
            <form #search="ngForm" (ngSubmit)="onSearch(search)" class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input name="input" class="form-control" type="search" placeholder="Search"
                        (onclick)="onInputClick()" aria-label="Search" [(ngModel)]="searchInput"
                        (ngModelChange)="onChange($event)" maxlength="20">
                    <button class="btn btn-outline-success my-2 my-sm-0">🔍</button>
                </div>
            </form>
        </div>
    </div>
</nav>
    
    <ul class="list-group position-absolute text-center col-sm-2 p-3">
        <h4 class="text-decoration-underline fw-bolder">filters</h4>
        <button class="btn btn-outline-primary" (click)="onClickShowAll()">All Products</button>
        &nbsp;
        <h6 class="text-info font-weight-bold">Price Range</h6>
        <li class="list-group-item p-1 border-primary">
            <form #price="ngForm" (ngSubmit)="onPriceSubmit(price)" class="form-inline my-2 my-lg-0">
                <input class="text-center" placeholder="min price" type="number" name="minPrice" ngModel required>
                <p></p>
                <input class="text-center" placeholder="max price" type="number" name="maxPrice" ngModel required>
                <p></p>
                <button class="btn btn-secondary">filter price</button>
            </form>
            <small class="text-danger">{{notFoundMessage}}</small>
        </li>

        &nbsp;
        <h6 class="text-info font-weight-bold">Brands</h6>
        <button class="btn btn-outline-primary" (click)="onClickShowAll()">All Brands</button>
        <li *ngFor="let b of brands" class="list-group-item p-1">
            <button class="border-0 btn btn-outline-secondary" (click)="onBrandFilter(b)">{{b}}</button>
        </li>
        &nbsp;
        <h6 class="text-info font-weight-bold">Categories</h6>
        <button class="btn btn-outline-primary" (click)="onClickShowAll()">All Categories</button>
        <li *ngFor="let c of categories" class="list-group-item p-1">
            <button class="border-0 btn btn-outline-secondary"
                (click)="onCategoryFilter(c)">{{categoryType(c)}}</button>
        </li>
    </ul>

<div class="container p-3">
   <div class="row">
        <div *ngFor="let p of filterProducts" class="card-group col-sm-4 d-flex">
            <div class="card text-center ">
                <a class="text-decoration-none" [routerLink]="['/product', p.barcode]">
                    <img style="width: 100%;height:10vw;object-fit: contain;" class="card-img-top" src={{p.imageUrl}}
                        alt="{{p.name}}">
                    <div class="card-body">
                        <h5 class="card-title fst-italic border border-dark rounded-pill text-info bg-dark">
                            {{p.name}}
                        </h5>
                        <p class="card-text text-dark fw-bold">{{p.description}}</p>
                        <p class="card-text text-success fw-bold">{{categoryType(p.category)}}</p>
                        <p class="card-text text-danger fw-bold">{{p.price}} ₪</p>
                    </div>
                </a>
                <div class="card-footer bg-white border-0">
                    <button (click)="AddProduct(p)" class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-white fixed-bottom" style="background-color: #f1f1f1;">
    <section class="text-center">
        <app-perfume-icon></app-perfume-icon>
        <span class="text-black mr-4"> © {{currentYear}} Copyright: <strong>Perfuma</strong></span>
        <a class="text-center btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/"
            role="button" data-mdb-ripple-color="dark">
            <app-facebook-icon></app-facebook-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/i/flow/login" role="button"
            data-mdb-ripple-color="dark">
            <app-twitter-icon></app-twitter-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://accounts.google.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-google-icon></app-google-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-youtube-icon></app-youtube-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-linkedin-icon></app-linkedin-icon>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" role="button"
            data-mdb-ripple-color="dark">
            <app-instgram-icon></app-instgram-icon>
        </a>

    </section>

</footer>