<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div class="container-md">
    <div class="row">
        <div *ngFor="let p of filterProducts" class="card-group col-sm-4">
            <div class="card text-center ">
                <a class="text-decoration-none" [routerLink]="['/product', p.barcode]">
                    <img style="width: 100%;height:10vw;object-fit: contain;" class="card-img-top" src={{p.imageUrl}}
                    alt="{{p.name}}">
                    <div class="card-body">
                        <h5 class="card-title fst-italic border border-dark rounded-pill text-info bg-dark">
                            {{p.name}}
                        </h5>
                        <p class="card-text text-dark fw-bold">{{p.description}}</p>
                        <p class="card-text text-success fw-bold">{{categoryType(p.category)}}</p>
                        <p class="card-text text-danger fw-bold">{{p.price}} ₪</p>
                    </div>
                </a>
                <div class="card-footer bg-white border-0">
                    <button (click)="AddProduct(p)" class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>