<app-navbar></app-navbar>

<div class="container">

    <h1 class="text-danger text-center fw-bold">Terms of Use</h1>

    <div class="row bg-light">
        <div>
            <p>
                <span class="fw-bolder">*</span> The Perfuma Online website serves as an online store and pharmacy for the
                purchase of various products by the browsing public around the world.
            </p>

            <p>
                <span class="fw-bolder">*</span> The owner and operator of the website is the company Perfuma Ltd.
            </p>

            <p>
                <span class="fw-bolder">*</span> Any action on the website, including the purchase of products offered for sale on the website,
                constitutes the customer's agreement to accept the provisions of these regulations and to act
                accordingly.
            </p>

            <p>
                <span class="fw-bolder">*</span> The regulations are worded in the masculine language, for reasons of convenience only, but they refer
                to members of both genders.
            </p>

            <p>
                <span class="fw-bolder">*</span> The regulations are drafted in the singular, for reasons of convenience only, but they also refer to
                the plural.
            </p>

            <p>
                <span class="fw-bolder">*</span> The customer declares that he has read these regulations and agrees to them, and that he and/or anyone
                on his behalf will not have any claim and/or claim against the company and/or anyone on its behalf,
                except for claims related to a violation of an obligation by the company and/or anyone on its behalf
                according to these regulations. It is emphasized that the very act of performing an action on the
                website constitutes an absolute, final and irrevocable notification on the part of the customer that he
                has read, understood and agreed to the provisions of this regulation.
            </p>

            <p>
                <span class="fw-bolder">*</span> The company reserves the right not to allow access to the website and/or any action on it to anyone
                who violates the provisions of the regulations and/or makes inappropriate use of the website or any
                content that appears on it.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>